<%= stylesheet_link_tag "recipes.css" %>

<div class="recipes-header">
<h1 class="recipes-header-title"><%=@user.name %> Recipes List</h1>
<button class="add-recipe"><%= link_to "Add a new recipe",  new_user_recipe_url ,class:"decoration"  %></button>
</div>

<div id="recipes">
  <% @recipes.each do |recipe| %>
    <div class="recipes-container">
    <div class="recipes-card">
    <p class="recipes-title"><%= link_to recipe.name ,user_recipe_url(@user,recipe),class: "decoration" %></p>
    <p class="recipes-description"><%= recipe.description %></p>
    </div>
    </div>
  <% end %>
  <% if @recipes.empty? %>
  <p>oops there are no recipes to show</p>
  <% end %>
</div>


